*
!.gitattributes
!.gitignore
!readme.md
!.gitkeep

#.cs
!ProMama/ProMama/*.cs
!ProMama/ProMama/CustomControls/*.cs
!ProMama/ProMama/ViewModel/*.cs
!ProMama/ProMama/View/*.cs
!ProMama/ProMama.Android/*.cs
!ProMama/ProMama.iOS/*.cs

#.xaml
!*.xaml

#.xml
!ProMama/ProMama.Android/Resources/values/*.xml
!ProMama/ProMama.Android/Properties/*.xml

#.png
!*.png

!*/
