<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSCameraUsageDescription</key>
    <string>Este aplicativo precisa de acesso à câmera para tirar fotos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Este aplicativo precisa de acesso às fotos.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Este aplicativo precisa de acesso à galeria de fotos.</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>CFBundleDisplayName</key>
    <string>Pró-Mamá</string>
    <key>CFBundleIdentifier</key>
    <string>br.gov.rs.osorio.promama</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleIconFiles</key>
    <array>
      <string>Default</string>
      <string>Default@2x</string>
      <string>Default@3x</string>
      <string>Icon</string>
      <string>Icon-20</string>
      <string>Icon-20@2x</string>
      <string>Icon-20@3x</string>
      <string>Icon-29</string>
      <string>Icon-29@2x</string>
      <string>Icon-29@3x</string>
      <string>Icon-40</string>
      <string>Icon-40@2x</string>
      <string>Icon-40@3x</string>
      <string>Icon-50</string>
      <string>Icon-50@2x</string>
      <string>Icon-50@3x</string>
      <string>Icon-57</string>
      <string>Icon-57@2x</string>
      <string>Icon-57@3x</string>
      <string>Icon-60</string>
      <string>Icon-60@2x</string>
      <string>Icon-60@3x</string>
      <string>Icon-72</string>
      <string>Icon-72@2x</string>
      <string>Icon-72@3x</string>
      <string>Icon-76</string>
      <string>Icon-76@2x</string>
      <string>Icon-76@3x</string>
      <string>Icon-83.5@2x</string>
      <string>Icon-120</string>
      <string>Icon-Small</string>
      <string>Icon-Small@2x</string>
      <string>Icon-Small@3x</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIAppFonts</key>
    <array>
        <string>iconize-fontawesome.ttf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
      <string>remote-notification</string>
    </array>
  </dict>
</plist>
