<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Este aplicativo precisa de acesso à câmera para tirar fotos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Este aplicativo precisa de acesso às fotos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Este aplicativo precisa de acesso à galeria de fotos.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Este aplicativo precisa de acesso ao calendário para gerenciar o agendamento de notificações.</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Pró-Mamá</string>
	<key>CFBundleIdentifier</key>
	<string>br.gov.rs.osorio.promama</string>
	<key>CFBundleVersion</key>
	<string>1.0.3</string>
	<key>UIAppFonts</key>
	<array>
		<string>iconize-fontawesome-solid.otf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>XSLaunchImageAssets</key>
	<string>Media.xcassets/LaunchImages.launchimage</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleName</key>
	<string>Pró-Mamá</string>
	<key>XSAppIconAssets</key>
	<string>Media.xcassets/AppIcons.appiconset</string>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
